@media screen and (min-width:870px) {
    .ha{
        cursor: pointer;
    }
    #ha{
        display: none;
    }
    .container1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2%;
        padding-bottom: 0%;
    }
    .container2{
        display: flex;
        justify-content: space-between;
        width: 45%;
    }
    .asdf{
        display: flex;
        width:100%;
        justify-content: space-between;

    }
    .container3{
        display: flex;
        padding: 3%;
        padding-left: 0%;
    }
    .him1{
        width: 100%;
    }
    .container4{
        display: flex;
        height: 35%;
        padding-right: 4%;
    }
    .him3{
        width: 100%;
    }
    #him{
        font-size: xx-large;
        font-weight: bolder;
        padding: 5%;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    #kim{
        padding-top: 3%;
        padding-right: 4%;
    }
    #gim{
        padding: 8%;
        padding-top: 2%;
    }
    .him2{
        background: black;
        margin-right: 3%;
    }
    .container5{
        display: flex;
    }
    body{
        background: rgb(210, 239, 239);
    }
    .pump{
        color: white; background: rgb(14, 173, 14); padding: 15px 30px; border: none; font-weight: 700; font-family: Georgia, 'Times New Roman', Times, serif; cursor: pointer; transition: all 0.3s ease-in-out;
    }
    .pump:hover{
        background-color: black;
    }
    }
@media  screen and (max-width:870px) {
    body{
        background: rgb(210, 239, 239);
    }   
    .container5 div{
        background-color: rgb(219, 217, 214);
    }
    .him1{
        margin-bottom: 3%;
    }
    .him2{
        background: black;
        margin-right: 3%;
    }
    #gim{
        padding: 5%;
        padding-top: 1.5%;
    }
    #close{
        position: absolute;
        right: 1.25rem;
        background: transparent;
        border: 0;
        z-index: 99;
        cursor: pointer;
    }
    .asdf{
        position: absolute;
        top: 50%;
        margin: 1.5rem 0;
        font-size: 16px;
        opacity: 0;
    }
    .pump{
        color: white; background: rgb(14, 173, 14); padding: 15px 30px; border: none; font-weight: 700; font-family: Georgia, 'Times New Roman', Times, serif; cursor: pointer; transition: all 0.3s ease-in-out;
    }
    .pump:hover{
        background-color: black;
    }
    .container1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #haa{
        background: transparent;
        border: none;
        cursor: pointer;
    }
    }